@page "/"
@using Container;
@inject HttpClient Http
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h1>Hello, world!</h1>

<ul id="messagesList" class="list-group list-group-flush">
    @foreach (var message in messages)
    {
        // @(message.Item1 == userInput ? "text-right" : string.Empty)
        <li class="list-group-item">
            <div class="header d-flex">
                <strong class="primary-font">@message.To</strong>
                <small class="pull-right text-muted ml-auto">
                    <span class="glyphicon glyphicon-time"></span>@($"{@message.ReceivedDateTime:hh:mm}")
                </small>
            </div>
            <p>@message.Content</p>
        </li>
    }
</ul>
<hr>
<div class="form-row">
    <div class="form-group col-3">
        <label for="messageInput">To</label>
        <input @bind="messageTo" disabled="@(!IsConnected)" type="text" class="form-control" placeholder="To" aria-label="To" aria-describedby="basic-addon1">
    </div>
</div>
<div class="form-row">
    <div class="form-group col-12">
        <label for="messageInput">Content</label>
        <textarea @bind="messageInput" disabled="@(!IsConnected)" class="form-control" id="messageInput" rows="2"></textarea>
    </div>
</div>
<div class="form-row">
    <button @onclick="Send" disabled="@(!IsConnected)" type="button" class="btn btn-primary mr-3">Send</button>
    <button @onclick="SendPrivate" disabled="@(!IsConnected)" type="button" class="btn btn-primary">Send Private</button>
</div>
